.background {
  height: 100vh;
  background-position: center;
  background-image: url("../../static/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card {
  width: 20rem;
}
